<div class="center hero-unit">
<center>
<table>
<tr>
<th>
<%=link_to(image_tag("Search-Male-User-icon.png"), find_user_foursquare_index_path, :class=>"work" ,:title=>"Search User") %>
<br>
Search User
</th>

<th>
<%=link_to(image_tag("Search-Globe-icon.png"), find_venues_foursquare_index_path, :class=>"work" ,:title=>"Search Venues") %>
<br>
Search Venues
</th>

<th>
<%=link_to(image_tag("user-group-icon.png"), find_friends_foursquare_index_path, :class=>"work" ,:title=>"Search Friends") %>
<br>
Search Friends
</th>

<th>
<%=link_to(image_tag("orange-sticker-badges-139-icon.png"), find_user_badges_foursquare_index_path, :class=>"work" ,:title=>"Find User Badges") %>
<br>
Search User Badges
</th>
<th>
<%=link_to(image_tag("user-comment-icon.png"), find_venue_tips_foursquare_index_path, :class=>"work" ,:title=>"Search Tips") %>
<br>
Search Tips
</th>

</tr>
</table>
</center>
</div>